name: shell
on:
  push:
    paths:
      - 'shell/**'

jobs:
  shellcheck:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: setup
        run: cmake . -Bout
      - name: lint
        run: make -Cout shellcheck
