name: shell
on:
  push:
    paths:
      - 'shell/**'

jobs:
  shellcheck:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install shunit2
        run: sudo apt-get install -y shunit2
      - name: Install ksh
        run: sudo apt-get install -y ksh
      - name: Set up build system
        run: cmake . -Bout
      - name: Run shellcheck
        run: make -Cout shellcheck
      - name: Run shunit2
        run: make -Cout shunit2
